.DeleteButton {
    color: #d10c0c9d;
    margin-left: 5px;
    margin-right: 5px;
    cursor: pointer;
}

.DeleteButton:hover {
    color: #cb5641;
    height: 25px;
    width: 25px;
}

.SendIcon {
    color: #d10c0c9d;
    cursor: pointer;
}

.SendIcon:hover {
    color: #cb5641;
    height: 27px;
    width: 27px;
}

.EditButton {
    color: #1010c69d;
    cursor: pointer;
}

.EditButton:hover {
    color: green;
    height: 20px;
    width: 20px;
}